In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
2+9

11

In [4]:
keyword.iskeyword('try')

True

In [5]:
keyword.iskeyword('umrah')

False

In [6]:
name='umrah'
my_identifier=name

In [11]:
name = 'umrah'
my_identifier = name

In [10]:
# basics

In [9]:
# used in comment

In [12]:
s = 10
print(s)

10

In [13]:
a =10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10

NameError: name 'function' is not defined

In [14]:
a =10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10
20

In [16]:
# List 
my_list = ["csk","rcb","mi","csk","rcb","mi"]
print(my_list)

['csk', 'rcb', 'mi', 'csk', 'rcb', 'mi']

In [17]:
len(my_list)

6

In [18]:
print(len(my_list))

6

In [21]:
list1 = ["csk","rcb","mi"]
list2 = [1,2,3,5,4]
list3 = [True, False]
print(list1, list2, list3)

['csk', 'rcb', 'mi'] [1, 2, 3, 5, 4] [True, False]

In [23]:
list1 = ["csk","rcb","mi",1,2,3,5,4,"Male","Female"]
print(list1)

['csk', 'rcb', 'mi', 1, 2, 3, 5, 4, 'Male', 'Female']

In [24]:
#Tuple
tuple1 = ("csk","rcb","mi")
print(tuple1)

('csk', 'rcb', 'mi')

In [25]:
my_tuple = ["csk","rcb","mi","csk","rcb","mi"]

print(my_tuple)

['csk', 'rcb', 'mi', 'csk', 'rcb', 'mi']

In [26]:
my_tuple = ("csk","rcb","mi","csk","rcb","mi")

print(my_tuple)

('csk', 'rcb', 'mi', 'csk', 'rcb', 'mi')

In [28]:
print(len(my_tuple))

6

In [29]:
#sets- multiple item in single cell 
set = {"csk","rcb","mi"}
print(set)

{'mi', 'csk', 'rcb'}

In [31]:
set = {"csk","rcb","mi","csk","rcb","mi","rj"}
print(set)

{'mi', 'csk', 'rcb', 'rj'}

In [32]:
set = {"csk","rcb","mi",1,2,3,5,4,"Male","Female"}
print(set)

{1, 2, 3, 4, 'rcb', 5, 'csk', 'Male', 'Female', 'mi'}

In [33]:
 
set = {"csk","rcb","mi",1,2,3,5,4,"Male","Female"}
print(set)

{1, 2, 3, 4, 'rcb', 5, 'csk', 'Male', 'Female', 'mi'}

In [34]:
set = {"csk","rcb","mi",1,2,3,5,5,"Male","Female"}
print(set)

{1, 2, 3, 5, 'rcb', 'csk', 'Male', 'Female', 'mi'}

In [35]:
set = {"csk","rcb","mi",1,2,3,5,8,"Male","Female"}
print(set)

{1, 2, 3, 5, 'rcb', 8, 'csk', 'Male', 'Female', 'mi'}

In [36]:
a =78
def function():
    global a
    a += 1
    print(a)
print(a)
function()

78
79

In [1]:
#string
string1 = "{1}{0}{2}".format('Welcome','to','UST')
print("nPositional order: ")
print(string1)

nPositional order:
toWelcomeUST

In [3]:
#converting to float
A = 20

B = float(A)
print(B)

20.0

In [4]:
#float to integer
a = 4.6
c = int(a)
print(c)

4

In [5]:
a = [1,2,3,4,7,9]
a.remove(7)
print(a)

[1, 2, 3, 4, 9]

In [8]:
list1 = ["a","b","c","a","b","c",'a']
b = list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [14]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
print(mylist[2:5])

['usa', 'canada', 'japan']

In [15]:
#negative indexes
mylist = ["ind","aus","usa","canada",'japan','nepal']
print(mylist[-1])

nepal

In [17]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
print(mylist[:4])

['ind', 'aus', 'usa', 'canada']

In [18]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
print(mylist[3:])

['canada', 'japan', 'nepal']

In [19]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
print(mylist[-4:-1])

['usa', 'canada', 'japan']

In [21]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
if "canada" in mylist:
    print("canada is in mylist")

canada is in mylist

In [22]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
if "rome" in mylist:
    print("rome is in mylist")

In [23]:
#intem getting replaced with index no.
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist[2] = "rome"
print(mylist)

['ind', 'aus', 'rome', 'canada', 'japan', 'nepal']

In [24]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist[1:2] = ["rome",'mi',]
print(mylist)

['ind', 'rome', 'mi', 'usa', 'canada', 'japan', 'nepal']

In [25]:
#insert:- insert an item  on specified index 
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.insert(2,"rome")
print(mylist)

['ind', 'aus', 'rome', 'usa', 'canada', 'japan', 'nepal']

In [26]:
#append:- adds the item at the end of list
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.append("rome")
print(mylist)

['ind', 'aus', 'usa', 'canada', 'japan', 'nepal', 'rome']

In [27]:
mylist1 = ['python','java','php']
mylist2 = ["c","c++","dotnet"]
mylist1.extend(mylist2)
print(mylist1)

['python', 'java', 'php', 'c', 'c++', 'dotnet']

In [31]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.remove("aus")
print(mylist)

['ind', 'usa', 'canada', 'japan', 'nepal']

In [33]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.pop(3)
print(mylist)

['ind', 'aus', 'usa', 'japan', 'nepal']

In [34]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.pop()
print(mylist)

['ind', 'aus', 'usa', 'canada', 'japan']

In [36]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
del.mylist(1)
print(mylist)

SyntaxError: invalid syntax (Temp/ipykernel_8492/1394914131.py, line 2)

In [37]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.clear()
print(mylist)

[]

In [39]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
for x in mylist:
    print(x)

ind
aus
usa
canada
japan
nepal

In [40]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
for x in range(len(mylist)):
    print(mylist[x])

ind
aus
usa
canada
japan
nepal

In [41]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
i = 0
while i < len(mylist):
    print(mylist[i])
    i = i+1

ind
aus
usa
canada
japan
nepal

In [42]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.sort()
print(mylist)

['aus', 'canada', 'ind', 'japan', 'nepal', 'usa']

In [43]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
mylist.sort(reverse = True)
print(mylist)

['usa', 'nepal', 'japan', 'ind', 'canada', 'aus']

In [47]:
numlist = [100,34,21,99,65,86]
numlist.sort(reverse = True)
print(numlist)

[100, 99, 86, 65, 34, 21]

In [48]:
alist = ["chennai","bangalore","delhi","up"]
alist.sort()
print(alist)

['bangalore', 'chennai', 'delhi', 'up']

In [49]:
#sort is case sensetive it will first consider Capital thn small letter
alist = ["chennai","bangalore","Delhi","Up"]
alist.sort()
print(alist)

['Delhi', 'Up', 'bangalore', 'chennai']

In [50]:
alist = ["chennai","bangalore","Delhi","Up"]
alist.sort(key = str.lower)
print(alist)

['bangalore', 'chennai', 'Delhi', 'Up']

In [53]:
#reversing the given list
alist = ["chennai","bangalore","alighar","Delhi","Up"]
alist.reverse()
print(alist)

['Up', 'Delhi', 'alighar', 'bangalore', 'chennai']

In [54]:
#copy is built in function
alist = ["chennai","bangalore","alighar","Delhi","Up"]
blist = list(alist)
print(blist)

['chennai', 'bangalore', 'alighar', 'Delhi', 'Up']

In [55]:
mytuple = ("umrah","jeffry","anil","sandeep","ghousia")
print(mytuple)

('umrah', 'jeffry', 'anil', 'sandeep', 'ghousia')

In [57]:
mytuple = ("umrah","jeffry","anil","sandeep","ghousia")
print(len(mytuple))

5

In [60]:
mytuple = ("umrah","jeffry","anil","sandeep","ghousia")
mytuple1 = list(mytuple)

print(mytuple)

('umrah', 'jeffry', 'anil', 'sandeep', 'ghousia')

In [61]:
#convertin tuple to list
mytuple = ("umrah","jeffry","anil","sandeep","ghousia")
mytuple1 = list(mytuple)

print(mytuple1)

['umrah', 'jeffry', 'anil', 'sandeep', 'ghousia']

In [63]:
print(mytuple1)

['umrah', 'jeffry', 'anil', 'sandeep', 'ghousia']

In [64]:
mytuple1 = tuple(mytuple)
print(mytuple)

('umrah', 'jeffry', 'anil', 'sandeep', 'ghousia')

In [66]:
mytuple1 = tuple(mytuple)
print(mytuple1)

('umrah', 'jeffry', 'anil', 'sandeep', 'ghousia')

In [68]:
myset = {"umrah","jeffry","anil","sandeep","ghousia"}
print(myset)

{'sandeep', 'jeffry', 'anil', 'ghousia', 'umrah'}

In [69]:
myset = {"sandeep","umrah","jeffry","anil","sandeep","ghousia"}
print(myset)

{'sandeep', 'jeffry', 'anil', 'ghousia', 'umrah'}

AttributeError: 'set' object has no attribute 'reverse'

In [71]:
#dictionary:- does not allow duplicates
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983
}
print(mydict)

{'brand': 'Maruti', 'model1': 'Swift', 'year': 1983}

In [72]:
print(mydict["brand"])

Maruti

In [73]:
#year will get updated in dictionary
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "year":1965
}
print(mydict)

{'brand': 'Maruti', 'model1': 'Swift', 'year': 1965}

In [74]:
print(mydict.keys())

dict_keys(['brand', 'model1', 'year'])

In [75]:
print(mydict.values())

dict_values(['Maruti', 'Swift', 1965])

In [77]:
#if we want to change values
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "year":1965
}
mydict["model1"] = "Celerio"
print(mydict)

{'brand': 'Maruti', 'model1': 'Celerio', 'year': 1965}

In [133]:
#year will get updated in dictionary
mydict = (
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "year":1965
    )
mydict.remove("brand")
print(mydict)

SyntaxError: invalid syntax (Temp/ipykernel_8492/3820954904.py, line 3)

In [134]:
a ="""jfr[g9058uihytjknkfrqhudfuriefjkdncv
frgfvf"""
print(a)

jfr[g9058uihytjknkfrqhudfuriefjkdncv
frgfvf

In [81]:
a = "Hello, World,"
print(a[2:5])

llo

In [82]:
a = "Hello, World,"
print(a[2:7])

llo,

In [83]:
a = "Hello, World,"
print(a[:5])

Hello

In [84]:
a = "Hello, World,"
print(a[5:])

, World,

In [85]:
a = "Hello, World,"
print(a[1:9])

ello, Wo

In [86]:
a = "Hello, World"
print(a.upper())

HELLO, WORLD

In [87]:
a = "Hello, World"
print(a.lower())

hello, world

In [90]:
a = "Hello, World"
print(a.replace("H","k"))

kello, World

In [91]:
a = "Hello, World"
print(a.replace("w","k"))

Hello, World

In [93]:
#cancatenation
a = "hello"
b= "world"
c=a+b
print(c)

helloworld

In [94]:
a = "hello "
b= "world"
c=a+b
print(c)

hello world

In [97]:
a+b

'helloworld'

In [99]:
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "year":1965
}
mydict.pop("brand")
print(mydict)

{'model1': 'Swift', 'year': 1965}

In [100]:
mydict.pop("model1")
print(mydict)

{'year': 1965}

In [101]:
c=a+b

In [104]:
#Arithmatic Operator
x = 4
y = 2
z = x + y
print(z)

6

In [105]:
z=y-x
print(z)

-2

In [106]:
z=x*y
print(z)

8

In [107]:
z=x//y
print(z
     )

2

In [108]:
z=x/y
print(z
     )

2.0

In [109]:
w=x**y
print(w)

16

In [110]:
y+=4
print(y)

6

In [112]:
z=x^y
print(z)

2

In [114]:
u=10
u&=3
print(u)

2

In [117]:
mylist = ["ind","aus","usa","canada",'japan','nepal']
len(mylist)

6

In [119]:
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "years":6
}
len(mydict)

4

In [120]:
myset = {"sandeep","umrah","jeffry","anil","sandeep","ghousia"}
myset.remove("umrah")
print(myset)

{'sandeep', 'jeffry', 'anil', 'ghousia'}

In [131]:
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "year":1965
}
mydict.push("work")
print(mydict)

AttributeError: 'dict' object has no attribute 'push'

In [123]:
alist = {"chennai",
         "bangalore",
         "alighar","Delhi","Up"}
print(alist)

{'Up', 'alighar', 'Delhi', 'chennai', 'bangalore'}

In [126]:
dict = {"chennai",
         "bangalore",
         "alighar","Delhi","Up"}
len(dict)

5

In [128]:
dict = {"chennai",
         "bangalore",
         "alighar","Delhi","Up"}
dict.reverse()

AttributeError: 'set' object has no attribute 'reverse'

In [130]:
dict = {"chennai",
         "bangalore",
         "alighar","Delhi","Up"}
dict.sort(reverse = True)
print(dict)

AttributeError: 'set' object has no attribute 'sort'

In [135]:
mydict = {
    "brand": "Maruti",
    "model1": "Swift",
    "year": 1983,
    "years":6
}
reverse(mydict)

NameError: name 'reverse' is not defined

In [136]:
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60+
}
reverse(mydict)

SyntaxError: invalid syntax (Temp/ipykernel_8492/343061468.py, line 6)

In [138]:
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60
}
len(mydict)

3

In [140]:
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60
}


mydict

{'school': 'MAS', 'YearOfEstablish': 1980, 'years': 60}

In [142]:
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60
}


print(mydict)

{'school': 'MAS', 'YearOfEstablish': 1980, 'years': 60}

In [143]:
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60
}


print(mydict)

{'school': 'MAS', 'YearOfEstablish': 1980, 'years': 60}

In [148]:
#for assigning any value use ''='' and[]
mydict = {
    "school": "MAS",
    
    "YearOfEstablish": 1980,
    "years":60
}
mydict["school"]="holy mission"


print(mydict)

{'school': 'holy mission', 'YearOfEstablish': 1980, 'years': 60}

In [150]:
fruit=("apple","mango","grapes")
print("apple"  in fruit)

True

In [151]:
fruit=("apple","mango","grapes")
print("mango"  in fruit)
print("apple"  not in fruit)
print("grapes"  in fruit)

True
False
True

In [153]:
fruit=("apple","mango","grapes")
print(mango is in fruit)

SyntaxError: invalid syntax (Temp/ipykernel_8492/4030176777.py, line 2)

In [154]:
set1={1,2,3}
s2={2,5,6}
print(set1|s2)
print(set1&s2)

{1, 2, 3, 5, 6}
{2}

In [156]:
set1.update{['lion']}
print(set1)

SyntaxError: invalid syntax (Temp/ipykernel_8492/2040444772.py, line 1)

In [2]:
a=33
b=31
if b > a:
    print("b is greater than a")

In [1]:
a = 33
b = 31
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")